



.container2 {


    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000000;


}





.navbar {

    background-color: rgba(81, 123, 151, 0.76);

}

.navbar-brand {

    color: rgb(194, 202, 209);
}


